# Unity specific ignores
My project/Library/
My project/Temp/
My project/Logs/
My project/Obj/
My project/MemoryCaptures/
My project/Assets/TextMesh Pro/Resources/Fonts & Materials/*SDF.asset
My project/Assets/TextMesh Pro/Resources/Fonts & Materials/*SDF.asset.meta

# Ignore the editor settings
.vscode/
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb

# ビルド結果
Build/
Builds/